@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  background-color: #9e2a2b;
}

section h1 {
  font-size: 120px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.parallax-1 {
  background: url("img2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-2 {
  background: url("img10.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-3 {
  background: url("img3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-4 {
  background: url("img4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-5 {
  background: url("img5.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-6 {
  background: url("img7.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-7 {
  background: url("img6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-8 {
  background: url("img8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-9 {
  background: url("img9.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-inner {
  padding: 10% 0;
}

p {
  font-size: 16px;
  color: #ffffff;
  text-align: justify;
  line-height: 30px;
  margin: 0 50px 40px;
}

p:nth-of-type(1),
p:nth-of-type(2),
p:nth-of-type(3),
p:nth-of-type(4),
p:nth-of-type(5),
p:nth-of-type(6),
p:nth-of-type(7),
p:nth-of-type(8),
p:nth-of-type(9) {
  margin: 40px 50px;
}

/* card */

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: #ffe15d;
  --text-color: #ffffff;
  --body-color: #9e2a2b;
  --container-color: #1b1b1b;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin: 0;
  width: 100%;
  padding-block: 5rem;
  background-color: #1b1b1e;
}

.container h1 {
  font-size: 3rem;
  color: #fcecdd;
  padding-bottom: 70px;
}

.container h1 i {
  padding-left: 20px;
  padding-right: 20px;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
  object-fit: cover;
  height: 220px;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }

  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }

  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  /* .container {
    height: 100vh;
  } */

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__img {
    width: 348px;
  }

  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/* Gallery */

/* Gallery */

.gallery {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

.gallery_title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
}

/* TRUE MASONRY LAYOUT */
.photos {
  column-count: 4;
  column-gap: 20px;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo {
  break-inside: avoid;
  margin-bottom: 20px;
}

.photo img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}

/* Responsive */
@media (max-width: 1024px) {
  .photos {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .photos {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .photos {
    column-count: 1;
  }
}
